.primary-btn {
  &:link,
  &:visited {
    background-color: $color-white;
    color: $color-light-gray;
    padding: 1.6rem 3.2rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 0 0.2rem 0.4rem rgba($color-black, 0.2);
    animation: animateButton 0.4s ease-out;
    text-decoration: none;
  }
  &:hover,
  &:active {
    background-color: $color-dark-gray;
    color: $color-white;
  }
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: translateY(-0.1rem);
  }
}
.btn-text {
  &:link,
  &:visited {
    color: $medium-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $medium-green;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.3s;
  }
  &:hover {
    background-color: $medium-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}

.btn-green {
  background-color: $medium-green;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 80px;
  padding: 1.6rem 6.4rem;
  display: inline-block;
  color: $color-white;
  border: none;
  display: inline-block;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: $color-dark-gray;
    color: $color-white;
  }
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: translateY(-0.1rem);
  }
}
