.feature-box {
  text-align: center;
  background-color: rgba($color-white, 0.7);
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.3s;
  cursor: pointer;
  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $light-green, $dark-green);
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
  }
}
